:root {
    --bg-color: rgb(54, 52, 73);
    --card-bg-color: rgb(80, 78, 102);
    --text-color: #fafafa;
    --card-text-color: #e7e7e7;
}

html, body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    width: 100%;
    height: 100%;
}

.body {
    width: 100%;
    height: 100%;
}

.people-container {
    width: 1fr;
    background-color: var(--bg-color);
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    gap: .25rem;
}

.people-card {
    background-color: var(--card-bg-color);
    height: 3rem;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--card-text-color);
}

.people-card:hover {
    cursor: pointer;
    background-color: rgb(100, 97, 128);
}

.people-card.select {
    background-color: rgb(141, 137, 180);
};

ul {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

li {
    text-decoration: none;
    list-style: none;
    width: 90%;
    border: 1px black solid;
    background-color: var(--card-bg-color);
    padding: .5rem;
}

@media print{
    .hide {
        visibility: hidden;
        display: none;
    }

    li {
        color: black;
    }

    btn {
        display: none;
        
    }

    btn.select {
        display: initial;
        background-color: white;
    }
}

btn {
    margin-left: .25rem;
    padding: .25rem;
    color: --card-text-color;
    background-color: var(--bg-color);
}

btn:hover {
    cursor: pointer;
    background-color: rgb(100, 97, 128);
}

btn.select {
    background-color: rgb(141, 137, 180);
}